.loader-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-children{
height: 20%;
width: 20%;
}