.loader-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-children{
height: 50%;
width: 50%;
}