
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.menu-big-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.divine-header{
    font-family: 'EB Garamond', serif;
}
.menu-container{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 40px);
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0px;
    margin: 0;
}
.menu-container h1{
    font-size: 25px;
    margin: 0;
}
.burger-icon{
    transition: 0.5s all ease;
    cursor: pointer;
}
.burger-icon:hover{
    color: grey;
}
@media only screen and (min-width:850px){
   .menu-big-container{
    display: none;
   }
}
.menu-options-container{
    position: absolute;
    z-index: 1000;
    background-color: white;
    margin-top: calc(5vh + 40px);
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    height: calc(100vh - (5vh + 40px));

}
.menu-options-container a{
    font-size: 13px;
}
.menu-container a{
text-decoration: none;
color: black;
font-weight: 700;
}