.img-carousel{
height: 100%;
display: inline-block;
}
.snap-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.snap-item p{
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}
.snap-item span{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width:850px){
    .snap-item{
        height:90%
    }
    .snap-item span{
        height: 95%;
        width: 100%;
        z-index: -1;
    }
    .snap-item .first-subtitle{
        position: relative;
        bottom: 60px;
        left: 10px;
        z-index: 10;
    }
    .first-subtitle{
        display: none;
    }
    .snap-item .second-subtitle{
        position: relative;
        bottom: 60px;
        left: 10px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .second-subtitle button{
        color: grey;
        border-width: 0px;
        border-radius: 5px;
        padding: 7px;
        background: linear-gradient(to left,  black 50%, grey 50%) right;
        background-size: 200%;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .second-subtitle button:hover{
        background-position: left;
    color: black;
    }
}
@media only screen and (min-width:850px){
    .second-subtitle{
        display: none;
    }
}