.img-carousel{
height: 100%;
display: inline-block;
}
.snap-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.snap-item p{
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}
.snap-item span{
    height: 100%;
    width: 100%;
}